@import "../variables";

.soup {
  background-color: #fff;
  overflow: auto;
  width: 100%;
}

.soup-meta {
  color: $second-color;
  font-size: 0.9rem;
  padding: 1rem 1rem 0 1rem;
}

.soup-text {
  padding: 1rem 1rem 1rem 1rem;
  overflow: auto;
}

.soup-more {
  padding: 0 1rem 1rem 1rem;
  color: $second-color;
}

.soup-action {
  padding: 0 1rem 1rem 1rem;
}
