@import "variables";

body {
  margin: 0;
  line-height: 1.5;
  //color: #212529;
  text-align: left;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  height: auto;
  color: #000;
  font-family: Formular, Arial, sans-serif;
  font-weight: 300;
}

a {
  color: $primary-color;
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.home .content {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .home aside {
    padding: 0 !important;
  }
}

.app {
  position: relative;
}

.add-soup-btn{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;

  width: 60px !important;
  height: 60px !important;
  min-width: 60px;
  border-radius: 50%;
}

.app-header {
  background-color: #000;
  padding: 0.5rem 1rem;
  z-index: 1000;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
    display: inline-block;
  }
}

.app-header-title {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.3rem 1rem 0.3rem 0;
}

.app-header-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.app-header-link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.3rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &.disabled {
    opacity: 0.6;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.profile .content {
  background-color: #fff;
  padding: 1rem;
  width: 40rem;
}

.soup {
  background-color: #fff;
}

.soup-meta {
  color: $second-color;
  font-size: 0.9rem;
  padding: 1rem 1rem 0 1rem;
}

.soup-text {
  padding: 1rem 1rem 1rem 1rem;
}

.soup-more{
  padding: 0 1rem 1rem 1rem;
  color: $second-color;
}

.soup-action {
  padding: 0 1rem 1rem 1rem;
}

.comments {
  background-color: rgba(0, 0, 0, 0.07);

  .comment {
    padding: 1rem 1rem;
    border-top: 1px solid #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .comment-avatar {
    width: 55px;
    height: 55px;
    background-color: $primary-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1rem;
    overflow: hidden;
  }

  .comment-content {
    flex: 1;
  }

  .comment-text {
    margin-top: 0.5rem;
  }

  .comment-action {
    margin-top: 0.5rem;
  }

  .comment-time {
    color: $second-color;
    font-size: 0.9rem;
  }
}

.fullscreen_loader {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;

  h4 {
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .loader {
    width: 200px;
    height: 50px;
    background: url(./loading.svg);
    background-repeat: no-repeat;
    background-position: top;
  }
}
